.row {
  display: flex;

  > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 auto;
      width: percentage($i / 12);
    }
  }
}
