.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  color: $text-01;
}

.main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding: 0 2.5rem 0 2.5rem;

  background-color: $ui-01;

  overflow-x: hidden;
}

.sec-profile {
  width: 100%;

  background-color: $ui-01;
  
  z-index: 998;
}

.sec-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  background-color: $ui-01;
}